<div id="wrapper">
  <div class="container">
      <img src="http://www.mistercocktail.net/wp-content/themes/mrcocktail/img/h1-bg.png" alt="header">
      <div id="menu">
        <ul id="nav" class="list-inline">
          <li> <%= link_to "Recepies", cocktails_path %> </li>
          <li> <%= link_to "Add a Cocktail", new_cocktail_path %></li>
          <li> <%= link_to "Best Rated Recepies", cocktails_path %></li>
        </ul>
      </div>
  </div>
</div>
