<div class="container about">
  <h1>Welcome to Mister Cocktail</h1>
  <h2>About Us</h2>
  <p>At Mister Cocktail, you can find nice stuff about spirits, brands and cocktails. This gets you on your way to making cocktails at home, because it’s not so difficult. I’d even say it’s easy! I’ve been making cocktails at home for quite a while and I hope I can guide you through the difficult vocabulary of cocktail-words, tools and specialties. On this blog you can find easy recipes, great bars to see how the pros handle it and tips for techniques.</p>
</div>





